	body {
		font-family: Verdana, Geneva, sans-serif;
	}
	
	a {
		color: #444;
		text-decoration: none;
		font-weight: bold
	}

	table {
		border-collapse: collapse;
	}

	table td, table th {
		border: 1px solid #ddd;
		padding: 10px;
	}

	table th {
		padding-top: 12px;
		padding-bottom: 12px;
		text-align: left;
		background-color: #ddd;        
        }
	
	.subtitle {
		font-style: italic;
	}
	
	video {
		display: block;
	}
